@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('Opentype');
    font-weight: normal;
    font-style: normal;
} 
body{background-color: rgb(211, 198, 175);
font-family: Arial, Helvetica, sans-serif;}

header
{
    display:block;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 1.25em;
    color: white;
    background-image:linear-gradient(180deg,#2EA463 0%,#1B7242 46%, #084221 100%);
    width: 100%;
    height: 310px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.589);
}

header >h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight: 400;
text-align: center;
padding-top: 0px;
padding-bottom: 20px;
margin-bottom: 8px;
}

header>p {margin: auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: lighter;
color: white;
text-align: center;
margin: 0px auto 40px auto;
padding: 8px auto;
width: 750px;
height: auto;
}

nav {
display: inline-block;
align-self: baseline;
margin-top: 32px;
margin-left: 24px;
padding: 0px;
}

nav > a{text-decoration: none;
color: rgb(123, 192, 123);
font-size: 20px;
font-weight: bold;
margin-right: 30px;
}

nav > a:hover{
background-color: #2ea46356;
border: 8px solid #2ea46356;
border-radius: 8px;
}

nav > a:visited{
color: yellow;
}

main{background-color:white;
width: 80%;
margin: -30px auto 0px auto;
box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.404);
border: 0px solid transparent;
border-radius: 0px 0px 16px 16px;}

main>p{margin: 0px auto 60px auto;
padding: 0px auto 60px auto;
font-size: 20px}

a {
    color:rgb(63, 128, 63);
    font-weight: bold;
    text-decoration: none;

}

.android {
margin: 30px 10px 0px 16px;
padding: 20px;
font-family: 'Android';
font-size: 36px;
color: rgb(31, 54, 31);
}

.android1 {
    margin: 40px 10px 0px 30px;
    padding: 24px auto;
    font-family: 'Android';
    font-size: 24px;
    background-color: rgb(28, 43, 28);
    background-image:linear-gradient(to right, rgb(116, 219, 166) 12%,rgb(198, 243, 220) 46%, rgb(242, 255, 235) 100%);
    color: rgb(20, 78, 20);
    }

article{
        line-height: 30px;
        font-size: 20px;
        font-weight: normal;
        text-indent: 30px;
        text-align: justify;
        width: 90%;
        margin: 30px auto 30px auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
picture
{
    display: flex;
    margin: auto;
}

div{display: flex;
   }

.video{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #084221;
margin: 20px auto;
padding: 60px;}

.quote{background-color: #2ea46391;
color: rgb(13, 43, 13);}

aside{
    background-color: aquamarine;
    margin: 20px 20px 40px 20px;
    padding: 0px auto 40px auto;
    border: 0px solid transparent;
    border-radius: 16px;
    box-shadow: 4px 4px 12px 4px black;
}
aside>h1{
    border: 0px solid transparent;
    border-radius: 16px 16px 0px 0px;
    background-color: rgb(2, 27, 2);
    color: white;
    padding: 16px;
    margin: 0px;
}
ul{
display: flex;
flex-direction: column;}
